{% extends 'mall.html' %}

{% block head %}
<title>Leht arendamisel</title>
{% endblock %}

{% block body %}
<div class="spell-info-container">
    <div class="spell-info-heading">
        <h1>Leht on veel arendamisel</h1>
    </div>

    <div class="four-o-four">
        <h4>Me alles töötame selle kallal.</h4>
        <p>Vahepeal võid sirvida olemasolevaid lehti:</p>
        <ul>
            <li><a href="/">Avaleht</a></li>
            <li><a href="/loitsud">Loitsud</a></li>
            <li><a href="/klassid">Klassid</a></li>
            <li><a href="/homebrew">Homebrew</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</div>
{% endblock %}
