<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/kujundus.css">
    <title>TavernScrolls</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="top-bar">
        <div class="logo">TAVERNSCROLLS</div>
        <a class="discord-link" href="https://discord.gg/Mj3et7Ctsn" target="_blank"></a>
        <nav class="base-nav">
            <a href="http://127.0.0.1:5000/">Kodu</a>
            <a href="http://127.0.0.1:5000/meist">Meist</a>
            <a href="http://127.0.0.1:5000/login">Logi Sisse</a>
        </nav>
    </div>

    {% block body %}{% endblock %}
</body>
</html>
